<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acesso Negado</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link th:href="@{/css/output.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="max-w-2xl mx-4 sm:max-w-sm md:max-w-sm lg:max-w-sm xl:max-w-sm sm:mx-auto md:mx-auto lg:mx-auto xl:mx-auto mt-16 bg-white shadow-xl rounded-lg text-gray-900 flex flex-col items-center py-16">
    <i class="fa-solid fa-ban text-red-600 text-6xl"></i>
    <h1 class="text-2xl font-bold text-center text-gray-900 mt-4">ACESSO NEGADO</h1>
    <p class="text-sm text-gray-500 text-center mt-2">Você não tem permissão para acessar esse conteúdo</p>
    <a href="/" class="mt-6 px-6 py-2 bg-blue-900 text-white rounded-full hover:bg-blue-600 hover:shadow-lg font-semibold">Voltar ao início</a>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>