<!DOCTYPE html>
<html lang="pt-br" class="h-full bg-white" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acessar conta</title>
    <link th:href="@{/output.css}" rel="stylesheet" />
    <link th:href="@{/style.css}" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
</head>

<body class="h-full">
<div th:insert="fragments/header :: header"></div>
<div class="flex min-h-full flex-col justify-start px-0 py-0 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Acesse a sua conta</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form th:action="@{/auth/login}" method="POST" class="space-y-6">
            <div>
                <!-- Exibição dos erros -->
                <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${param.error}">
                    Login e/ou senha inválidos!
                </div>
            </div>

            <label for="username" class="block text-sm/6 font-medium text-gray-900">Nome de usuário</label>
            <div class="mt-2">
                <input type="text" name="username" id="username" autocomplete="username" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700 sm:text-sm/6"/>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm/6 font-medium text-gray-900">Senha</label>
                </div>
                <div class="mt-2">
                    <input type="password" name="password" id="password" autocomplete="current-password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700 sm:text-sm/6"/>
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-blue-700 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-500">Entrar</button>
                <div style="gap: 5px;" class="my-5 text-sm/6 flex w-full justify-center">
                    <p>Ainda não tem uma conta?</p>
                    <a class="font-bold hover:text-blue-700" th:href="@{/auth/signup}">Cadastre-se.</a>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>