#post {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2vw;
}

#photo {
    width: 40%;
}

#photo img {
    height: 100%;
}

#comments {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

#comments-header {
    height: 30%;
}

#caption {
    height: 70%;
    overflow: auto;
}

#tags {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
}

.tag {
    margin: 0 5px;
    padding: 2px 5px;
    text-transform: lowercase;
}

#photo-comments {
    height: 55%;
    overflow: auto;
}

.comment {
    padding: 0;
}

#add-comment {
    height: 15%;
}

#like {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}