<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAYXIS</title>
    <link th:href="@{/output.css}" rel="stylesheet" />
</head>
<body>
    <div th:if="${success}" class="text-center text-blue-800 font-semibold">
        <p th:text="${success}"></p>
    </div>
    <h1>Feed</h1>
    <a th:if="${session.is_adm == true}" th:href="@{/admin}" th:object="${session}">
        <p>Área de administrador</p>
    </a>
    <a th:if="${session.user_id}" th:href="@{/photographer/logout}" th:object="${session}">
        <p>Sair</p>
    </a>
</body>
</html>