<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SAŸXIS</title>
    <link th:href="@{/css/output.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
</head>
<body style="background: linear-gradient(to right, #1d4ed8, #5a90ea); display: flex; flex-direction: column; justify-content: center; align-items: center; align-content: center;">
<div th:insert="fragments/header :: header"></div>
    <div th:if="${success}" class="text-center text-blue-800 font-semibold">
        <p th:text="${success}"></p>
    </div>
<!-- Grid de fotos -->
<div class="photo-grid">
    <div class="photo-card" th:each="photo : ${photos}">
        <a th:href="@{/photo/{photo_id}(photo_id=${photo.id})}">
            <div class="username">
                <i class="fa-regular fa-circle-user"></i>
                <p th:text="'@'+${photo.photographer.user.username}"></p>
            </div>
            <img th:src="@{${photo.imageUrl}}" alt="Foto de ${photo.photographer.name}" />
        </a>
    </div>
</div>
<!-- Controles de paginação -->
<div th:if="${totalPages > 1}" class="pagination">
    <!-- Link "Anterior" -->
    <span th:if="${currentPage > 0}">
        <a th:href="@{/(page=${currentPage - 1}, size=${size})}"
           class="pagination-link bg-blue-600 text-white font-medium px-4 py-2 rounded-md hover:bg-blue-700 transition duration-300">
            Anterior
        </a>
    </span>

    <!-- Exibe a página atual e o total de páginas -->
    <span class="pagination-info text-gray-700 font-medium">
        Página <span th:text="${currentPage + 1}"></span> de <span th:text="${totalPages}"></span>
    </span>

    <!-- Link "Próxima" -->
    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/(page=${currentPage + 1}, size=${size})}"
           class="pagination-link bg-blue-600 text-white font-medium px-4 py-2 rounded-md hover:bg-blue-700 transition duration-300">
            Próxima
        </a>
    </span>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>