<!DOCTYPE html>
<html lang="pt-br" class="h-full bg-white" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Acessar conta</title>
    <link th:href="@{/output.css}" rel="stylesheet" />
    <link th:href="@{/style.css}" rel="stylesheet" />
</head>

<body class="h-full">
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600" alt="Logo da SAYXIS">
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Acesse a sua conta</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form th:action="@{/photographer/login}" method="POST" th:object="${photographerData}" class="space-y-6">
            <div>
                <div class="warn-input" th:switch="${loginError}">
                    <p th:case="'emailNotFound'" class="block text-sm 6 font-medium">O email não está registrado. Tente novamente.</p>
                    <p th:case="'wrongPassword'" class="block text-sm 6 font-medium">Senha incorreta. Tente novamente.</p>
                </div>
                <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
                <div class="mt-2">
                    <input type="text" th:field="*{email}" name="email" id="email" autocomplete="email" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">
                    <label for="password" class="block text-sm/6 font-medium text-gray-900">Senha</label>
                </div>
                <div class="mt-2">
                    <input type="password" th:field="*{password}" name="password" id="password" autocomplete="current-password" required class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"/>
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Entrar</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>