<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Photo</title>
  <link th:href="@{/css/photo.css}" rel="stylesheet" />
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

  <style>
    @media print {
      body * {
        visibility: hidden;
      }
      #photo-comments, #photo-comments * {
        visibility: visible;
      }
      .comment-actions {
        display: none !important;
      }

      #photo-comments {
        overflow-y: visible;
      }
    }
  </style>
</head>
<body class="body-header-footer">
<div th:insert="fragments/header :: header"></div>
<div id="post">
  <div id="photographer-info" class="flex items-center gap-4 mb-4">
    <a th:href="@{'/photographer/' + ${author.id} + '/profile'}">
      <div id="photographer-photo" class="w-12 h-12 rounded-full overflow-hidden">
        <img th:if="${profilePhoto != null}" th:src="${profilePhoto.imageUrl}" alt="Foto do Fotógrafo" class="w-full h-full object-cover" />
        <img th:if="${profilePhoto == null}"  src="https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg" alt="Foto do Fotógrafo" class="w-full h-full object-cover" />
      </div>
    </a>

    <div class="flex flex-col">
      <!-- Nome do Fotógrafo -->
      <a th:href="@{'/photographer/' + ${author.id} + '/profile'}" class="text-xl font-bold text-gray-900">
        <span th:text="${author.name}"></span>
      </a>

      <div class="text-sm text-gray-500">
        <span>@</span><span th:text="${author.getUser().getUsername()}"></span>
      </div>
    </div>
  </div>

  <div id="photo">
    <img th:src="${linkPhoto}" alt="Foto" />
    <div id="like">
      <form th:if="${isLiked == false}" th:action="@{/photo/{photo_id}/like(photo_id=${photo_id})}" method="POST">
        <button type="submit"><i class="fa-regular fa-heart"></i></button>
      </form>
      <form th:if="${isLiked == true}" th:action="@{/photo/{photo_id}/unlike(photo_id=${photo_id})}" method="POST">
        <button type="submit"><i class="fa-solid fa-heart"></i></button>
      </form>
      <p th:text="${numberOfLikes}"></p>
    </div>
  </div>

  <div id="comments">
    <div id="comments-header">
      <div id="caption">
        <p th:if="${caption}" th:text="${caption}"></p>
      </div>

      <div id="tags">
        <div th:if="${!editTags}" id="display-tags" class="tags-header">
          <div id="tags-photo" th:if="${tags.size > 0}">
            <span th:each="tag : ${tags}" th:text="'#'+${tag}" class="tag"></span>
          </div>
          <span class="tag" th:if="${tags.size == 0}">Foto sem tags</span>
          <form th:action="@{/photo/{photo_id}/edit-tags(photo_id=${photo_id})}" method="GET">
            <button id="edit-btn" th:if="${isAuthor}"><i class="fa-solid fa-pen"></i></button>
          </form>
        </div>

        <div th:if="${editTags}" id="edit-tags">
          <div id="edit-header">
            <p id="db-tags-title">Tags Populares - Clique para inserir ou digite uma nova.</p>
            <form th:action="@{/photo/{photo_id}/save-tag-edition(photo_id=${photo_id})}" method="GET">
              <input type="hidden" id="hashtagsInput" name="hashtags" th:value="${hashtags}" />
              <button id="confirm-edition-btn" th:if="${isAuthor}"><i class="fa-solid fa-check"></i></button>
            </form>
          </div>
          <div class="tags-header">
            <div id="not-tags-photo">
              <button th:each="tag : ${notPhotoTags}" th:text="'#'+${tag}" class="tag"></button>
            </div>
          </div>
          <input id="input-new-tags" type="text" name="comment" placeholder="Digite uma hashtag e pressione Enter ou vírgula">
          <ul id="new-tags"></ul>
        </div>
      </div>
    </div>

    <ul id="photo-comments" role="list" class="divide-y divide-gray-400 overflow-y-auto">
      <li th:each="comment : ${comments}" class="flex justify-between gap-x-6 py-5 comment">
        <div class="flex min-w-0 gap-x-4">
          <div class="min-w-0 flex-auto">
            <a th:href="@{'/photographer/' + ${comment.photographer.getId()} + '/profile'}" class="text-gray-500 text-sm/6 ">
              <span class="font-semibold text-gray-900" th:text="${comment.photographer.name}"></span>
              <span>(@</span><span th:text="${comment.photographer.getUser().getUsername()}"></span>)
            </a>
            <p th:text="${comment.commentText}" class="mt-1 text-sm/5 text-gray-500 break-words"></p>

            <div class="comment-actions" th:if="${comment.photographer.id == authPhotographerId}">
              <form th:action="@{/photo/{photo_id}/comment/{comment_id}/edit(photo_id=${photo_id}, comment_id=${comment.id})}"
                    method="GET"
                    class="text-sm/6" style="color: #3b82f6">
                <button id="edit-comment-btn" type="submit"><i class="fa-solid fa-pen"></i> Editar</button>
              </form>

              <form th:action="@{/photo/{photo_id}/comment/{comment_id}/delete(photo_id=${photo_id}, comment_id=${comment.id})}"
                    method="POST"
                    onsubmit="return confirm('Tem certeza que deseja excluir este comentário?')"
                    class="text-sm/6 text-red-500">
                <button id="delete-comment-btn" type="submit"><i class="fa-solid fa-trash-can"></i> Excluir</button>
              </form>
            </div>
          </div>
        </div>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
          <p th:text="${comment.formattedCreatedAt}" class="text-sm/6 text-gray-900"></p>
        </div>
      </li>
    </ul>

    <form id="add-comment" th:action="@{/photo/{photo_id}/add-comment(photo_id=${photo_id})}" method="POST">
      <p th:if="${tooLong}">Comentário muito longo. Insira no máximo 512 caracteres</p>
      <input th:value="${sentComment}" type="text" name="comment" placeholder="Adicione um comentário">
      <button th:disabled="${canComment == false && isAuthor == false}" type="submit">Enviar</button>
    </form>

    <form id="generate-pdf" sec:authorize="hasRole('ADMIN')" th:if="${comments.size > 0}" method="POST">
      <button id="generate-pdf-btn" type="submit">
        <i class="fa-solid fa-file-pdf"></i> Gerar relatório dos comentários
      </button>
    </form>

  </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/tag.js}"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("generate-pdf-btn").addEventListener("click", function (event) {
      event.preventDefault();

      let originalBody = document.body.innerHTML;
      let commentsSection = document.getElementById("photo-comments").outerHTML;

      document.body.innerHTML = commentsSection;

      window.print();

      document.body.innerHTML = originalBody;
      location.reload();
    });
  });
</script>

</body>
</html>
