<!DOCTYPE html>
<html lang="pt-br" class="h-full bg-white" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Fotógrafo</title>
    <link th:href="@{/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full">
<div th:insert="fragments/header :: header"></div>
<div class="flex min-h-full flex-col justify-center lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Cadastre-se como fotógrafo</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form th:action="@{/photographer/register}" method="POST" th:object="${photographer}" enctype="multipart/form-data" class="space-y-6">
            <!-- Mensagem de erro -->
            <div th:if="${mensagem}" class="text-center text-red-500 font-semibold">
                <p th:text="${mensagem}"></p>
            </div>

            <!-- Nome -->
            <div>
                <label for="name" class="block text-sm/6 font-medium text-gray-900">Nome</label>
                <div class="mt-2">
                    <input type="text" th:field="*{name}" id="name" name="name" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700 sm:text-sm/6" />
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-500 text-sm"></p>
                </div>
            </div>

            <!-- Email -->
            <div>
                <label for="email" class="block text-sm/6 font-medium text-gray-900">Email</label>
                <div class="mt-2">
                    <input type="email" th:field="*{email}" id="email" name="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700  sm:text-sm/6" />
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500 text-sm"></p>
                </div>
            </div>

            <!-- Senha -->
            <div>
                <label for="password" class="block text-sm/6 font-medium text-gray-900">Senha</label>
                <div class="mt-2">
                    <input type="password" th:field="*{password}" id="password" name="password" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700  sm:text-sm/6" />
                    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-red-500 text-sm"></p>
                </div>
            </div>

            <!-- Foto de Perfil -->
            <div>
                <label for="fotoPerfil" class="block text-sm/6 font-medium text-gray-900">Foto de perfil</label>
                <div class="mt-2">
                    <input type="file" id="fotoPerfil" name="profilePhoto" accept="image/*"
                           class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg file:me-4 file:py-2 file:px-4
                    file:rounded-lg file:border-0
                    file:text-sm file:font-semibold
                    file:bg-blue-600 file:text-white
                    hover:file:bg-blue-600
                    file:disabled:opacity-50 file:disabled:pointer-events-none" />
                </div>
            </div>

            <!-- Cidade -->
            <div>
                <label for="city" class="block text-sm/6 font-medium text-gray-900">Cidade</label>
                <div class="mt-2">
                    <input type="text" th:field="*{city}" id="city" name="city"
                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700 sm:text-sm/6" />
                    <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="text-red-500 text-sm"></p>
                </div>
            </div>

            <!-- País -->
            <div>
                <label for="pais" class="block text-sm/6 font-medium text-gray-900">País</label>
                <div class="mt-2">
                    <input type="text" th:field="*{country}" id="pais" name="country"
                           class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-blue-700  sm:text-sm/6" />
                    <p th:if="${#fields.hasErrors('country')}" th:errors="*{country}" class="text-red-500 text-sm"></p>

                </div>
            </div>

            <!-- Botão de Cadastro -->
            <div>
                <button type="submit"
                        class="flex w-full justify-center rounded-md my-10 bg-blue-700 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">
                    Cadastrar
                </button>
                <div style="gap: 5px;" class="my-5 text-sm/6 flex w-full justify-center">
                    <p>Já tem uma conta?</p>
                    <a class="font-bold hover:text-blue-700" th:href="@{/photographer/login}">Faça login.</a>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
